![imagen](./img/ejercicios.png)

## Ejercicio 1
Dada la siguiente lista:
> ```ejer_1 = [1,2,3,4,5]```

Inviértela para que quede de la siguiente manera
> ```ejer_1 = [5,4,3,2,1]```

In [2]:
ejer_1 = [1,2,3,4,5]

ejer_1.reverse()

print(ejer_1)

[5, 4, 3, 2, 1]

In [66]:
def saludo(nombre):
    return f'Hola {nombre}'

In [67]:
saludo(input('dime tu nombre'))

'Hola joselu'

## Ejercicio 2
Eleva todos los elementos de la lista al cuadrado
> ```ejer_2 = [1,2,3,4,5]```

In [14]:
ejer_2 = [1,2,3,4,5]

for numeros, cuadrados in enumerate(ejer_2):
    ejer_2[numeros] = cuadrados**2

print(ejer_2)

[1, 4, 9, 16, 25]

## Ejercicio 3
Crea una lista nueva con todas las combinaciones de las siguientes dos listas:
> ```ejer_3_1 = ["Hola", "amigo"]```
>
> ```ejer_3_2 = ["Que", "tal"]```

Obten el siguiente output:

['Hola Que', 'Hola tal', 'amigo Que', 'amigo tal']

In [ ]:
ejer_3_1 = ["Hola", "amigo"]
ejer_3_2 = ["Que", "tal"]

lista = list()

for i in ejer_3_1:
    for j in ejer_3_2:
        lista.append(i + ' ' + j)
lista

In [16]:
ejer_3_1 = ['Hola', 'amigo']
ejer_3_2 = ['Que', 'tal']

lista = list()

for i in ejer_3_1:
    for j in ejer_3_2:
        lista.append(i + ' ' + j)
print(lista)

['Hola Que', 'Hola tal', 'amigo Que', 'amigo tal']

## Ejercicio 4
Dada la siguiente lista, encuentra el índice del valor 45 y sustitúyelo por el 0
> ```ejer_4 = [20, 47, 19, 29, 45, 67, 78, 90]```

In [30]:
ejer_4 = [20, 47, 19, 29, 45, 67, 78, 90]

print(ejer_4)

[20, 47, 19, 29, 45, 67, 78, 90]

In [37]:

ejer_4[ejer_4.index(0)] = 0

print(ejer_4)

ejer_4[ejer_4.index(1)] = 1

print(ejer_4)

[20, 47, 19, 29, 45, 1, 0, 90]
[20, 47, 19, 29, 45, 1, 0, 90]

## Ejercicio 5
Dada la siguiente lista, elimina todos los valores iguales a 3
> ```ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]```

TIP: No intentes eliminar elementos sobre la lista que estás iterando. Haz una copia con `ejer_5.copy()`.

In [38]:
ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]
print(ejer_5)

[3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]

In [39]:
ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]

lista = ejer_5.copy()

for i in ejer_5.copy():
    print('i = ', i)
    if i == 3:
        lista.remove(i)
print(lista)
print(ejer_5)

i =  3
i =  20
i =  3
i =  47
i =  19
i =  3
i =  29
i =  45
i =  67
i =  78
i =  90
i =  3
i =  3
[20, 47, 19, 29, 45, 67, 78, 90]
[3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]

In [40]:
ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]

copia_ejer_5 = ejer_5.copy()
for i in ejer_5.copy():
    if i == 3:
        copia_ejer_5.remove(i)
print(copia_ejer_5)
print(ejer_5)

[20, 47, 19, 29, 45, 67, 78, 90]
[3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]

In [42]:
otra_copia = ejer_5.copy()
for i in ejer_5.copy():
    if i == 20:
        otra_copia.remove(i)
    if i == 3:
        otra_copia.remove(i)
print(otra_copia)

[47, 19, 29, 45, 67, 78, 90]

## Ejercicio 6
1. Crea una tupla con 3 elementos
2. Crea otra tupla con un elemento y comprueba su tipo
3. Crea una tupla con elementos de diferentes tipos
4. Imprime por pantalla el primer y ultimo elemento de la tupla del apartado 3. Usa `len` para el ultimo
5. Añade un elemento a la tupla del apartado 3.
6. Eliminar un elemento de la tupla del apartado 5, que se encuentre más o menos en la mitad.
7. Convierte la tupla del apartado 5 en una lista

In [57]:
mitupla = (1, 2, 3)

mitupla_2 = (50, 40)

type(mitupla_2)

mitupla_3 = (10, 12, 'Holi,', 15.4, 'Bye')

print(mitupla_3[0])
print(mitupla_3[-1])
print(len(mitupla_3))

anexo_tupla = (60, )

nueva_tupla = mitupla_2 + anexo_tupla

print(nueva_tupla)

nueva_tupla_2 = list(nueva_tupla)

print(nueva_tupla_2)

10
Bye
5
(50, 40, 60)
[50, 40, 60]

## Ejercicio 7
Concatena todos los elementos de la tupla en un unico string. Para ello utiliza el metodo `.join()` de los Strings
> ```ejer_7 = ("cien", "cañones", "por", "banda")```

Resultado: `cien cañones por banda`

In [85]:
ejer_7 = ('cien', 'cañones', 'por', 'banda')

print(' '.join(ejer_7))

cien cañones por banda

## Ejercicio 8
Obten el tercer elemento de la siguiente tupla, y el tercero empezando por la cola
> ```ejer_8 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3)```

In [86]:
ejer_8 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3)

print(ejer_8[2])
print(ejer_8[-3])

3
90

## Ejercicio 9
1. ¿Cuántas veces se repite el 3 en la siguiente tupla?
2. Crea una tupla nueva con los elementos desde la posicion 5 a la 10.
3. ¿Cuántos elementos tiene la tupla `ejer_9`?
> ```ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)```

In [89]:
ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)

ejer_9.count(3)

new_tupla = ejer_9[4:10]
print(new_tupla)

(19, 3, 29, 45, 67, 78)

## Ejercicio 10
Comprueba si el numero 60 esta en la tupla del ejercicio 9

In [90]:
ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)

ejer_9.count(60)

0

## Ejercicio 11
1. Convierte la tupla del apartado 10 en una lista
2. Convierte la tupla del apartado 10 en un set
3. Convierte la tupla del apartado 10 en un diccionario. Usa también los indices

In [114]:
ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)

print(list(ejer_9))

print(set(ejer_9))

ejer_11 = {}

for index, elemento in enumerate(ejer_9):
    ejer_11[index] = elemento

print(ejer_11)

[3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7]
{2, 3, 67, 5, 4, 7, 6, 9, 45, 78, 47, 19, 20, 90, 29}
{0: 3, 1: 20, 2: 3, 3: 47, 4: 19, 5: 3, 6: 29, 7: 45, 8: 67, 9: 78, 10: 90, 11: 3, 12: 3, 13: 5, 14: 2, 15: 4, 16: 7, 17: 9, 18: 4, 19: 2, 20: 4, 21: 3, 22: 3, 23: 4, 24: 6, 25: 7}

## Ejercicio 12
Convierte la siguiente lista en un diccionario
> ```ejer_12 = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]```

TIP: Puedes usar dos variables de control en un bucle `for`. Una por cada valor de las tuplas.

In [1]:
ejer_12 = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]

In [15]:
print(dict(ejer_12))

{'x': 3, 'y': 2, 'z': 1}

In [ ]:
conversion_dict = {}

for index, elemento in ejer_12:
    conversion_dict[index] = elemento

print(conversion_dict)

## Ejercicio 13
1. Crea una lista ordenada ascendente con las claves del diccionario
2. Crea otra lista ordenada descendente con los valores
3. Añade una nueva clave/valor
4. Busca la clave con el valor de 2 dentro del diccionario
5. Itera la clave y el valor del diccionario con un unico for
> ```ejer_13 = {4:78, 2:98, 8:234, 5:29}```

In [22]:
ejer_13 = {4:78, 2:98, 8:234, 5:29}

list_1 = sorted(ejer_13.keys())
print(list_1)

list_2 = sorted(ejer_13.values(), reverse = True)
print(list_2)

ejer_13[9] = 65
print(ejer_13)

print(2 in ejer_13)

for clave, valor in ejer_13.items():
    print(f'Clave: {clave}, Valor: {valor}')

[2, 4, 5, 8]
[234, 98, 78, 29]
{4: 78, 2: 98, 8: 234, 5: 29, 9: 65}
True
Clave: 4, Valor: 78
Clave: 2, Valor: 98
Clave: 8, Valor: 234
Clave: 5, Valor: 29
Clave: 9, Valor: 65

## Ejercicio 14
Junta ambos diccionarios. Para ello, utiliza `update`
> ```ejer_14_1 = {1: 11, 2: 22}```
>
> ```ejer_14_2 = {3: 33, 4: 44}```

In [23]:
ejer_14_1 = {1: 11, 2: 22}
ejer_14_2 = {3: 33, 4: 44}

ejer_14_1.update(ejer_14_2)

print(ejer_14_1)

{1: 11, 2: 22, 3: 33, 4: 44}

## Ejercicio 15
Suma todos los valores del dicionario
> ```ejer_15 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}```

In [36]:
ejer_15 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}

print(sum(ejer_15.values()))

165

## Ejercicio 16
Multiplica todos los valores del diccionario
> ```ejer_16 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}```

In [37]:
ejer_16 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}

valores = 1
for i in ejer_16.values():
    valores = valores * i
print(valores)

19326120

## Ejercicio 17
1. Crea un set de tres elementos
2. Añade un cuarto
3. Elimina el utlimo elemento añadido
4. Elimina el elemento 10, si está presente. Usa `discard()`

In [51]:
mi_set = {1,2,3}
print(mi_set)

mi_set.add(99)
print(mi_set)

mi_set.remove(3)
print(mi_set)

mi_set.discard(10)
print(mi_set)

{1, 2, 3}
{99, 1, 2, 3}
{99, 1, 2}
{99, 1, 2}