# Primera entrega ML

## Cómo el kilometraje influye en el precio de reventa de un vehículo.

### Tema

En este proyecto estudiaremos un dataset de vehículos usados de la India. Trataremos de predecir el precio de venta de segunda mano de los vehículos.

Tendiendo en cuenta los datos aportados en el dataset, se intentará predecir el valor de reventa. Se tratará de probar que el número de kilómetros deprecia más a los vehículos más caros y que porcentualmente los vehículos menos costosos retienen más valor.

### Datasets y fuentes alternativas de datos
El dataset contiene datos sobre año de fabricación, kilómetros, tipo de combustible, caja, potencia de motor y media de consumo. COntiene también datos, en apariencia, menos influyentes, como ciudad donde se publica la venta y número de asientos. También se especifica la marca y modelo del vehículo, columna que habrá que tratar para sacar la información valiosa.  
Con estos datos podremos predecir el precio de venta.

### Tipo de ML
Regresión
### Target
- Price  

Esta variable muestra el precio por el que se han vendido los coches. En el dataset se muestra en Lakhs, medida utilizada en la India y países vecinos. Se convertirá a euros para facilitar la comprensión de las cifras.
### Métricas

Aún no estoy seguro

### Enlaces

Los datos salen de Kaggle y fueron compartidos por los TAs (gracias). Puedes ver el dataset original [aquí](https://www.kaggle.com/datasets/sujay1844/used-car-prices/data).

### Este es el dataframe:

In [19]:
import pandas as pd
df = pd.read_csv('ML_Guide/data/train.csv').drop(columns='Unnamed: 0')
df

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75
5843,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,NaN,4.00
5844,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,NaN,2.90
5845,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,NaN,2.65
5846,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,NaN,2.50