# Python | day 2 | collections

Lists, tuples & sets

### Ejercicio 1.

1. Crea
    - una variable de tipo lista llamada **lista_alumnos** que contenga el nombre de tus compañeros de clase.
    - 4 listas diferentes que contengan los nombres de los compañeros sentados en cada mesa de la clase más los que siguen a la clase en remoto.  
    
Si ya no estás en clase y no recuerdas cómo estaba distribuida la clase, utiliza los nombres de tus compañeros y haz 4 listas diferentes con ellos.

Imprime las dos listas creadas.

In [8]:
lista_alumnos = ['Diego', 'Mateusz', 'Miguel', 'Javier', 'Marta', 'Jonathan', 'Jorge', 'Manuel', 'Felipe', 'Alberto', 'Alejandro', 'Silvia']

mesa_1 = lista_alumnos[0:3]
mesa_2 = lista_alumnos[3:6]
casa_1 = lista_alumnos[6:9]
casa_2 = lista_alumnos[9:12]


print(mesa_1)
print(mesa_2)
print(casa_1)
print(casa_2)

['Diego', 'Mateusz', 'Miguel']
['Javier', 'Marta', 'Jonathan']
['Jorge', 'Manuel', 'Felipe']
['Alberto', 'Alejandro', 'Silvia']

### Ejercicio 2

1. Crea una lista vacía, llámala **lista_vacía**.

In [9]:
lista_vacia = []

2. Crea una lista con 5 elementos, llámala **mi_lista**.

In [10]:
mi_lista = [1, 3, 5, 7, 9]

3. Hallar la longitud de **mi_lista**

In [11]:
print(len(mi_lista))

5

4. Obtener el primer elemento, el elemento central y el último elemento de **mi_lista**.

In [15]:
print(mi_lista[0])
print(mi_lista[2])
print(mi_lista[-1])

1
5
9

5. Declarar
    - una variable **nombre** y asignarle un valor
    - una variable **edad** y asignarle un valor
    - una variable **altura** y asignarle un valor
    - una variable **país** y asignarle un valor
    - una variable **python_version** y asignarle un valor

In [16]:
nombre = 'Rodolfo'
edad = 57
altura = 1.91
pais = 'Irak'
python_version = 3.11

6. Crea una lista llamada **tipos_de_datos_mezclados** con tu nombre, edad, altura, país y versión_de_ python.

In [18]:
tipos_de_datos_mezclados = [nombre, edad, altura, pais, python_version]
print(tipos_de_datos_mezclados)

['Rodolfo', 57, 1.91, 'Irak', 3.11]

7. Declara una variable de lista llamada **it_companies** y asígnale los valores iniciales Facebook, Google, Microsoft, Apple, IBM, Oracle y Amazon.

In [19]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

8. Imprime **it_companies** usando print()

In [20]:
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

9. Imprimir el número de empresas de la lista

In [21]:
print(len(it_companies))

7

11. imprimir *Google

In [31]:
print(it_companies[1])

Google

10. Imprima el nombre, el segundo nombre y el apellido de la empresa

11. Asignar un nuevo valor al último elemento de la lista

In [32]:
it_companies[-1] = 'Slack'

print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Slack', 'Amazon', 'Slack']

12. Imprimir la lista después de modificar una de las empresas

In [33]:
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Slack', 'Amazon', 'Slack']

## Bonus track.

13. Añadir una empresa de TI a **it_companies**.

In [34]:
it_companies.append('Amazon')
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Slack', 'Amazon', 'Slack', 'Amazon']

14. Compruebe si *Apple* existe en la lista **it_companies**.

In [35]:
print(it_companies.count('Apple'))

1

15. Ordena la lista utilizando el método `sort()`.

In [50]:
it_companies.sort()

print(it_companies)

it_companies.append('Slack')

print(it_companies)

['Amazon', 'Apple', 'Facebook', 'Google', 'IBM', 'Microsoft', 'Oracle']
['Amazon', 'Apple', 'Facebook', 'Google', 'IBM', 'Microsoft', 'Oracle', 'Slack']

16. Invierte la lista en orden descendente utilizando el método `reverse()`.

In [61]:
print(list(reversed(it_companies)))

['Slack', 'Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']

17. Elimine las 3 primeras empresas de la lista

In [70]:

print(it_companies)

['Amazon', 'Apple', 'Facebook', 'Google', 'IBM']

18. Elimine la última empresa informática de la lista

In [71]:
it_companies.pop()

print(it_companies)

['Amazon', 'Apple', 'Facebook', 'Google']

19. Eliminar todas las empresas de TI de la lista

TypeError: list.remove() takes exactly one argument (0 given)

20. Une las listas siguientes y llama a la lista **fin**:

```python
front_end = [['HTML', 'CSS'], 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
```

In [89]:
front_end = [['HTML', 'CSS'], 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']

fin = front_end + back_end

print(fin)

[['HTML', 'CSS'], 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

21. De la lista **end** imprimir 'HTML'

In [92]:
print(front_end[0][0])

HTML

22. En la lista final, imprima la "C" de la palabra "CSS".

In [100]:
print(front_end[0][1][0])

C

### Ejercicio 3.

¿Sabes que puedes crear tuplas con un solo elemento?

1. En la celda de abajo, define una variable **tup** con un solo elemento "T".

Pista: tienes que añadir una coma (,) después del elemento único.

In [104]:
tup = ('T',)

2. Imprime el tipo de tup.
Asegúrese de que su tipo es correcto (es decir, tupla en lugar de str).

In [105]:
type(tup)

tuple

3. Ahora intenta añadir los siguientes elementos a **tup**.
¿Eres capaz de hacerlo? Explícalo.

`"H", "E", " ", "B", "R", "I", "D", "G", "E",`

In [108]:
tup_2 = ('H', 'E', ' ', 'B', 'R', 'I', 'D', 'G', 'E')

new_tup = tup + tup_2

print(new_tup)

('T', 'H', 'E', ' ', 'B', 'R', 'I', 'D', 'G', 'E')

4. ¿Qué tal reasignar un nuevo valor a una tupla existente?

Reasigna los siguientes elementos a **tup**.

¿Eres capaz de hacerlo? Explícalo.


`"T", "H", "E", " ", "B", "R", "I", "D", "G", "E",`

In [110]:
tup = []

tup = new_tup

print(tup)

('T', 'H', 'E', ' ', 'B', 'R', 'I', 'D', 'G', 'E')

### Ejercicio 4.

1. Convierte **lista_repes** en un *conjunto* para obtener sólo los valores únicos de la lista, asignándolo a una variable llamada **mi_conjunto**.

In [111]:
lista_repes = ["data", "data", "data", "science", "science", "python", "python", "diomedes", "diomedes", "diomedes", "diomedes", "clara", "gabriel", "gabriel", "gabriel"]

In [122]:
lista_repes = set(lista_repes)

mi_conjunto = lista_repes

print(mi_conjunto)

{'python', 'clara', 'gabriel', 'science', 'diomedes', 'data'}

2. Intenta imprimir el primer elemento de **mi_conjunto**.

Lo has hecho bien si obtienes *TypeError: 'set' object is not subscriptable*.

In [123]:
print(mi_conjunto[0])

TypeError: 'set' object is not subscriptable

3. Convierte **mi_conjunto** en una lista, utilizando la función `list()`.

¿Puedes imprimir ahora el primer elemento?

In [126]:
list(mi_conjunto)

['python', 'clara', 'gabriel', 'science', 'diomedes', 'data']

In [129]:
mi_conjunto_2 = mi_conjunto

In [130]:
print(mi_conjunto_2)

{'python', 'clara', 'gabriel', 'science', 'diomedes', 'data'}