# Python | day 4 | for loop, functions (feat. basics & if/else)

### Ejercicio 0.1 - Conceptos básicos de Python

1. ¿Qué usamos para hacer un salto de línea en una impresión? ¿Y para un tabulador?

In [11]:
print('hola \nhello')

print('hello\n\thola')

hola
hello
hello
	hola

2. Haz un conversor de dólares a euros. Tendrás que utilizar la entrada

In [14]:
euros = int(input('Cuantos euros'))
dolares = euros * 1.1
print(dolares)

5.5

In [15]:
def conversor():
    euros = int(input('Cuantos euros'))
    dolares = euros * 1.1
    print(dolares)

In [17]:
conversor()

5.5

3. Declara dos cadenas, una será tu nombre y la otra tu apellido. Declara tu edad en otra variable. Imprime una sentencia que incluya esas variables, usando ```f{}``. ¿Qué es eso?

In [26]:
mi_name = 'Raul'
mi_surname = 'Taylor'
mi_edad = 28

print(f'{mi_name} {mi_surname} {mi_edad}')

Raul Taylor 28

4. Dada la lista `[4,7, -3]`, calcula su máximo, mínimo y suma.

In [31]:
listita = [4,7,-3]

print(max(listita))
print(min(listita))
print(sum(listita))

7
-3
8

5. Redondea `38.38276252728` a 5 decimales.

In [41]:
number = 38.38276252728

rounded = round(number, 5)

print(rounded)

38.38276

6. Pon la frase "Born to be wild" en mayúsculas, luego en minúsculas, divídela por espacios y, por último, sustituye "wild" por "Geek".

In [82]:
frase = 'Born to be wild'

print(frase.lower())
print(frase.upper())
print(' '.join(frase))

palabras = frase.rsplit(maxsplit=1)
nueva_frase = ' '.join(palabras[:-1] + ['geek'])

print(nueva_frase)

born to be wild
BORN TO BE WILD
B o r n   t o   b e   w i l d
Born to be geek

7. Crea un programa en el que se recojan dos entradas, y la salida del programa sea un booleano que indique al usuario si esas entradas son iguales o no.

In [73]:
def comparador(a, b):
    if a == b:
        return True
    else:
        return False

In [77]:
comparador(5, 5)

True

### Ejercicio 0.2 - If/else

1. Crea un árbol de decisión utilizando sentencias if/else, para determinar el precio de la entrada al cine. Si la edad del cliente está entre 5 y 15 años, ambos incluidos, el precio será de 5, si es jubilado y la película es una de las `peliculas_descuento`, el precio será de 4. En cualquier otro caso, será de 7 euros.

Debes crear la lista de `peliculas_discount` con tus películas favoritas.

In [118]:


edad = int(input('Dime tu edad'))
pelicula = str(input('Que pelicula quieres ver'))
peliculas_discount = ['Nemo', 'Wall-e', 'Princess Bride']

if edad >= 5 and edad <= 15 :
    precio = 5
elif edad >= 65 and pelicula in peliculas_discount:
    precio = 4
else:
    precio = 7

print('Precio', precio)

Precio 4

5### Ejercicio 1 - Para

Si encuentras una forma de resolver alguna de estas preguntas sin utilizar el bucle for, no dudes en hacerlo.

1. Imprime los números entre 0 y 70 que son múltiplos de 3 y 5.

In [145]:
x = range(0, 71)

list(x)

for numero in x:
    if numero % 3 == 0:
        print(numero)
    elif numero % 5 == 0:
        print(numero)

0
3
5
6
9
10
12
15
18
20
21
24
25
27
30
33
35
36
39
40
42
45
48
50
51
54
55
57
60
63
65
66
69
70

In [143]:
multiplos_de_3 = [numero for numero in x if numero % 3 == 0]

print(multiplos_de_3)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69]

2. Imprime el siguiente patrón:

```python
1
22
333
4444
55555
666666
7777777
88888888
999999999
```

In [146]:
for i in range(1, 10):
    print(str(i) * i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

3. Dadas dos listas de la misma longitud, crear una tercera lista que contenga la suma de ambas, elemento a elemento.

```python
Example: 
a = [1,2]
b = [4,5]
new_list = [5,7]
```

In [149]:
a = [1,2]
b = [4,5]

new_list = (a[0] + b[0], a[1] + b[1])

print(new_list)

(5, 7)

4. Obtenga la primera y la segunda mejor puntuación de la lista.
La lista contiene duplicados.

In [191]:
scores = [86,86,85,85,85,83,23,45,84,1,2,0]

scores = list(set(scores))

scores = sorted(scores)

print(max(scores))
print(scores[-2])

86
85

5. De la lista dada:
    
    a) Crea listas separadas de cadenas y números.

    b) Ordena la lista de cadenas en orden ascendente.

    c) Ordena la lista de cadenas en orden descendente

    d) Ordenar la lista de números de menor a mayor

    e) Ordenar la lista de números de mayor a menor

In [193]:
gadgets = ["Mobile", "Laptop", 100, "Camera", 310.28, "Speakers", 27.00, 
           "Television", 1000, "Laptop Case", "Camera Lens"]

In [203]:
gadgets_int = [number for number in gadgets if isinstance(number, int)]

print(gadgets_int)

gadgets_float = [number for number in gadgets if isinstance(number, float)]
print(gadgets_float)

gadgets_numbers = gadgets_int + gadgets_float
print(gadgets_numbers)

[100, 1000]
[310.28, 27.0]
[100, 1000, 310.28, 27.0]

6. Haz una lista de diez alienígenas, cada uno de los cuales es de un color: 'rojo', 'verde' o 'azul'.
    - Puedes acortarlo a 'r', 'g' y 'b' si quieres, pero si eliges esta opción tienes que incluir un comentario explicando qué significan r, g y b.
    - Los alienígenas rojos valen 5 puntos, los verdes valen 10 puntos y los azules valen 20 puntos.
    - Utilice un bucle for para determinar el número de puntos que ganaría un jugador por destruir todos los alienígenas de su lista.

### Ejercicio 2 - Funciones

1. Escribe un programa de funciones para sumar dos números diferentes dados.

2. Escribe un programa en Python para convertir una tupla de caracteres en una cadena.

    - Ejemplo de tupla: `("T", "H", "E", " ", "B", "R", "I", "D", "G", "E")`
    - Salida esperada : `"EL PUENTE"`
    
Sugerencia: Conviértalo en una lista.

3. Escribe un programa en Python que genere una lista cuyos valores sean cuadrados de números entre 1 y 30 (ambos incluidos), y devuelva una lista con los 5 primeros y últimos elementos de la lista.

4. Crea un programa en Python que calcule el factorial de un número.

El programa pedirá al usuario que introduzca un número (entrada) y devolverá el factorial de ese número.

5. Crea un programa que calcule la media.

El programa pedirá al usuario que especifique cuántos números quiere introducir, y mostrará un aviso para incluir número a número a una lista, y luego calculará la media de cada número de esa lista.