# Ex1 - Filtrar y ordenar datos

### Paso 1. Importar las bibliotecas necesarias

In [2]:
import pandas as pd
import numpy as np

### Paso 2. Importar el conjunto de datos de esta [dirección](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [3]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

### Paso 3. Asígnalo a una variable llamada chipo.

In [4]:
chipo = pd.read_csv(url, sep= '\t')

In [5]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

# Nombre del producto de valor máximo

In [6]:
chipo['precio'] = chipo['item_price'].str[1:].str.rstrip()

chipo['precio'] = chipo['precio'].astype('float')

In [11]:
chipo['precio'].max()

44.25

In [12]:
chipo[chipo['precio'] == chipo['precio'].max()]

,order_id,quantity,item_name,choice_description,item_price,precio,precio_unitario
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25,44.25,2.95

In [14]:
chipo['precio_unitario'] = chipo['precio'] / chipo['quantity']
chipo[chipo['precio_unitario'] == chipo['precio_unitario'].max()].drop_duplicates(['item_price'])

,order_id,quantity,item_name,choice_description,item_price,precio,precio_unitario
281,123,2,Steak Salad Bowl,"[Tomatillo Red Chili Salsa, [Black Beans, Chee...",$23.78,23.78,11.89
606,250,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Pinto Beans, Cheese, Gua...",$11.89,11.89,11.89

### Paso 4. ¿Cuántos productos cuestan más de 10,00 dólares?

In [19]:
list(chipo[chipo['precio_unitario'] > 10].sort_values(by='precio_unitario', ascending=False).drop_duplicates('item_name')['item_name'])

['Steak Salad Bowl',
 'Barbacoa Salad Bowl',
 'Carnitas Salad Bowl',
 'Steak Burrito',
 'Steak Bowl',
 'Steak Crispy Tacos',
 'Steak Soft Tacos',
 'Barbacoa Soft Tacos',
 'Carnitas Bowl',
 'Barbacoa Burrito',
 'Barbacoa Bowl',
 'Carnitas Burrito',
 'Carnitas Crispy Tacos',
 'Carnitas Soft Tacos',
 'Barbacoa Crispy Tacos',
 'Chicken Bowl',
 'Chicken Soft Tacos',
 'Veggie Burrito',
 'Chicken Salad Bowl',
 'Veggie Bowl',
 'Chicken Crispy Tacos',
 'Chicken Burrito',
 'Veggie Salad Bowl',
 'Veggie Soft Tacos',
 'Chicken Salad']

### Paso 5. ¿Cuál es el precio de cada artículo?
###### imprimir un marco de datos con sólo dos columnas nombre_artículo y precio_artículo

In [23]:
chipo[['item_name','item_price']].drop_duplicates()

                                  item_name item_price
0              Chips and Fresh Tomato Salsa     $2.39
1                                      Izze     $3.39
2                          Nantucket Nectar     $3.39
3     Chips and Tomatillo-Green Chili Salsa     $2.39
4                              Chicken Bowl    $16.98
...                                     ...        ...
4237                    Chips and Guacamole     $8.50
4354                       Steak Soft Tacos    $18.50
4489                    Chips and Guacamole    $17.80
4509                                  Chips     $1.99
4510                          Barbacoa Bowl    $11.49

[209 rows x 2 columns]

### Paso 6. Ordenar por el nombre del artículo

In [26]:
chipo.sort_values('item_name')

,order_id,quantity,item_name,choice_description,item_price,precio,precio_unitario
3389,1360,2,6 Pack Soft Drink,[Diet Coke],$12.98,12.98,6.49
341,148,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49,6.49
1849,749,1,6 Pack Soft Drink,[Coke],$6.49,6.49,6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49,6.49
2713,1076,1,6 Pack Soft Drink,[Coke],$6.49,6.49,6.49
...,...,...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,8.75,8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",$8.75,8.75,8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$8.49,8.49,8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25,11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49,8.49,8.49

### Paso 7. ¿Cuál fue la cantidad pedida del artículo más caro? 2 formas

### Paso 8. ¿Cuántas veces pidió ensalada de verduras?

### Paso 9. ¿Cuántas veces pidió alguien más de un refresco en lata?