![imagen](./img/ejercicios.png)

# INFORMACIÓN DEL PROYECTO

## Análisis de CMV

### TEMA

Durante este EDA, se estudiará la relación entre coste, precio y ventas de los artículos de un restaurante.

### HIPÓTESIS

# Hipótesis principal

**1. El percentil 10% por numero de unidades vendidas de platos elaborados hace perder dinero.**

Se estudiarán los motivos de estas ventas bajas y se tratará de entender si la hipótesis se cumple.

**2. El plato elaborado más caro tiene menor margen de beneficio que el más barato**

Se estudiarán costes, márgenes y facturación para afirmar o refutar la hipótesis

## OBTENCIÓN DE LOS DATOS

### DATASETS Y FUENTES ALTERNATIVAS DE DATOS

Esta data sale del programa de gestión interno del restaurante. Se exportan los datos en excel. 

En el primer dataset aparece cada artúculo con su precio. Existen varias columnas de precios porque hay elementos con pricing dinámico, que varía según la hora, la fecha o si es o no evento.

En el segundo aparece un agregado del número de unidades vendidas y el importe total en el periodo seleccionado.

In [44]:
precios = pd.read_excel('PreciosExcelArticulos1.xlsx', index_col='NOMBRE')

'''Importar excel estableciendo columna 'NOMBRE' como indice'''

precios.head()

                    PRECIO 1  PRECIO 2  PRECIO 3  PRECIO 4
NOMBRE
COLACAO                  2.1       2.1       2.1       2.1
CAFE ESPECIAL            2.9       2.9       2.9       2.9
CAFE                     2.1       2.1       2.1       2.1
SUPLEMENTO COLACAO       0.6       0.6       0.6       0.6
CHOCOLATE                2.9       2.9       2.9       2.9

In [60]:
articulos = pd.read_excel('ResumExcelArticulos.xlsx', index_col='NOMBRE')

'''Importar excel estableciendo columna 'NOMBRE' como indice'''

articulos.head()

               UNIDADES VENDIDAS  IMPORTE TOTAL
NOMBRE
COLACAO                  105.000      200.45442
CAFE ESPECIAL            359.665      941.34484
CAFE                   21376.000    39743.60192
CHOCOLATE                 33.000       86.99989
INFUSION                1703.000     3762.25597

In [59]:
final = total.groupby(total.index).sum()

'''Unir los dos dataframes por índices únicos sumando los valores de los repetidos'''

final.head()

,PRECIO 1,PRECIO 2,PRECIO 3,PRECIO 4,UNIDADES VENDIDAS,IMPORTE TOTAL
NOMBRE,,,,,,
ABSOLUT,40.0,40.0,40.0,40.0,572.000,4672.72742
AGUA 0.5 LITROS,3.5,3.5,3.5,3.5,16226.665,51253.35390
AGUA CON GAS,3.5,3.5,3.5,3.5,5129.665,16204.83593
AGUAZUL,16.5,16.5,16.5,16.5,7796.000,28080.83644
ALCACHOFA CONFITADA BARRA,5.1,5.1,5.1,5.1,3366.000,15519.75440

**Falta un dataset. Dataset de CMVs (coste de la mercancía vendida).**